mixin formatRating(rating)
  - for(var i = 0; i < rating; i++)
    span.glyphicon.glyphicon-star
  - for(var i = rating; i < 5; i++)
    span.glyphicon.glyphicon-star-empty

mixin formatDate(dateString)
  - var date = new Date(dateString);
  - var months = ["Jan", "Feb", "March", "April", "May", "June", "July", "Aug", "Sept", "Oct", "Nov", "Dec"];
  - var d = date.getDate();
  - var m = months[date.getMonth()];
  - var y = date.getFullYear();
  - var output = d +' '+ m +' '+ y;
  =output